<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns="http://www.thymeleaf.org">
    <title>个人界面</title>
</head>
<body>
  <div>
      <span th:text="${username}"></span>
      <a href="/logout">
          <div>
              <span> 登陆 </span>
          </div>
      </a>
      <span th:text="${path}"></span>
      <table>
          <tr th:each="file,fileStat:${filesList}">
              <td>
                  <span th:text = "${fileStat.count}"></span>
              </td>
              <td>
                  <span th:text="${file.name}"></span>
              </td>
          </tr>
      </table>
      <form action="upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" multiple="multiple" th:placeholder="File"/><br/>
      <input type="submit" value="上传"/>
      </form>
  </div>
</body>
</html>