<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns="http://www.thymeleaf.org">
    <title>个人界面</title>
</head>
<body>
  <div>
      <span th:text="${username}"></span>
      <a href="/logout">
          <div>
              <span> 注销 </span>
          </div>
      </a>
      <span th:text="${path}"></span>
      <a th:href="@{moveToPre(path=${prePath})}" >
          <span> 返回上级目录 </span>
      </a>
      <table>
          <tr th:each="file,fileStat:${userList}">
              <td>
                  <a th:if="${file.fileID gt '0'}" th:href = "@{download(fileID=${file.fileID})}">
                      <span th:text="${file.fileName}"></span>
                  </a>
                  <a th:if="${file.fileID eq '0'}" th:href = "@{moveToNext(fileName=${file.fileName}, path=${file.parentPath})}">
                      <span th:text="${file.fileName}"></span>
                  </a>
                  <a th:href="@{deleteDir(filename=${file.fileName})}">
                      删除
                  </a>
                  <form action="changeDir", method="post">
                      输入要更改的文件名 <input type="text" name="filename">
                      <input type="hidden" name="file" th:text="${file.fileName}">
                      <input type="submit" value="更改">
                  </form>
              </td>
          </tr>
      </table>
      <form action="upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" multiple="multiple" th:placeholder="File"/><br/>
      <input type="submit" value="上传"/>
      </form>
      <a  th:href = "@{createDir}">
          <span> 新建文件夹</span>
      </a>
  </div>
</body>
</html>