<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
</head>
<body>
        <div id = "login-box">
            <h1>login</h1>
            <div class = "input-box">
                <input type = "text" placeholder = "Username">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password">
            </div>
            <button>登录</button>
            <button>注册</button>
        </div>
</body>
</html>